span {
  color: cyan
}

.container-fluid {
  background-color: navy;
  height: 100vh;
}

.menu {
  height: 15vh;
  background: linear-gradient(cyan, navy);
  color: whitesmoke
}

/* Hasta aqui el Menu/Head */
.tablero {
  background-image: url(../IMG/Background.jpg);
  background-size: cover;
  height: 70vh;
}

.players {
  border: 1px solid;
  background-color: navy;
  color: cyan;
  margin: 10vh 0 10vh 0;
  height: 15vh;
  width: auto;
}

.p1 {}

.p2 {}

.battleField {
  background-color: cyan;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box {
  border: 1px solid;
  margin: 5%;
  height: 15vh;
  /* width: 15vw; */
}

.turno {
  border: 1px solid;
  background-color: navy;
  color: cyan;
  margin: 10vh 0 10vh 0;
  height: 15vh;
  width: auto;
}

.info {
  color: cyan;
  height: 15vh;
}