.container-fluid {
  background-image: url(../IMG/Background.jpg);
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span {
  color: white;
}

.top {
  background: linear-gradient(navy, transparent);
  padding-top: 20vh;
}
p{
  text-shadow: 0 0 0.2em rgb(0, 247, 255), 0 0 0.2em rgb(0, 255, 21),
		0 0 0.2em rgb(0, 247, 255);
  font-size: 8vh;
}
.bottom{
  background: linear-gradient(transparent, navy);
  padding-top: 5vh;
}

.bot {

  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.botones {
  background: radial-gradient(cyan,navy);
  border: 5px solid cyan;
  border-radius: 10%;
}
