span{
  color: cyan
}
.container-fluid {
  background-color: navy;
  height: 90vh;
}
.menu{
  height: 15vh;
  background: linear-gradient( cyan, navy);
  color:whitesmoke
}
/* Hasta aqui el Menu/Head */
.tablero{
  background-color: cyan;
  height: 65vh;
}
.players{
  background: linear-gradient(90deg, navy, cyan);
}
.battleField{
  background-color: cyan;
}
.board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.box{
  border: 1px solid;
  margin: 5%;
  height: 15vh;
  width: 15vw;
}
.turnsPts{
  background: linear-gradient(90deg, cyan, navy);
}
