#link{
  text-decoration: none;
  color: navy;
}
body {
  background-image: url(../IMG/wallpapper.png);
  height: 100vh;
  background-size: cover;
}

.container-fluid {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: large;
  height: 90vh;
}

#dataSave {
  background: linear-gradient(cyan, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

#currentPlayer {
  border-bottom-left-radius: 15em;
  border-bottom-right-radius: 15em;
  border: 0.3em groove rgb(255, 251, 0);
  background: radial-gradient(transparent, navy);
}

#battlefield {
  display: grid;
  margin-top: 20vh;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  transition: background-color .5s;
  background-color: transparent;
  color: black;
  font-size: 4em;
  width: 20vw;
  height: 20vh;
  border: 0.1em groove rgb(255, 251, 0);
  border-radius: 5%;
  margin: 0.5vh 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-shadow: 0 0 0.2em yellow, 0 0 0.2em yellow,
  0 0 0.2em yellow;
}

.cell:hover {
  transition: background-color .5s;
  background-color: rgba(251, 255, 0, 0.336);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

/* aqui selecciono que todos los childs de 3"n" + la primera col borre border left  */
.cell:nth-child(3n + 1) {
  border-left: none;
}

/* aqui selecciono que todos los childs de 3"n" + la tercera col borre border left  */
.cell:nth-child(3n + 3) {
  border-right: none;
}

/* aqui con el ultimo child mas la 7 y 8, borro border bot */
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

#buttons {
  background: linear-gradient(transparent, yellow);
  height: 15vh;
}

#restartBtn {
  color: red;
  margin-top: 5vh;
  height: 10vh;
  border: 0.2em groove yellow;
  border-radius: 5em;
  background: radial-gradient(transparent, yellow);
}
#mainMenuBtn{
  text-decoration: none;
  height: 10vh;
  border: 0.2em groove yellow;
  border-radius: 5em;
  background: radial-gradient(transparent, yellow);
}

#statusText {
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 0.2em rgb(229, 255, 0), 0 0 0.2em rgb(255, 238, 0),
  0 0 0.2em rgb(0, 0, 0);
}