body {
  height: 110vh;
  background-image: url(../IMG/gameWallpaper.jpg);
  background-size: cover;
}

#text1 {
  margin: 10vh 0 10vh 0;
  color: white;
  text-shadow: 0 0 0.2em rgb(229, 255, 0), 0 0 0.2em rgb(255, 238, 0),
    0 0 0.2em rgb(0, 0, 0);
  border-bottom: 5px groove yellow;
}

#text2 {
  margin-top: 5vh;
  text-align: center;
  color: cyan;
  font-size: 4em;
  text-shadow: 0 0 0.2em rgb(229, 255, 0), 0 0 0.2em rgb(255, 238, 0),
    0 0 0.2em rgb(0, 0, 0);
}

#text3 {
  margin-top: 5vh;
  text-align: end;
  font-size: 2.5em;
  color: black;
  text-shadow: 0 0 0.2em rgb(229, 255, 0), 0 0 0.2em rgb(255, 238, 0),
    0 0 0.2em rgb(0, 0, 0);
  border-top: 5px groove yellow;
  border-bottom: 5px groove yellow;
}
#play {
  cursor: pointer;
  color: cyan;
  font-size: 3em;
  text-decoration: none;
  text-shadow: 0 0 0.2em rgb(229, 255, 0), 0 0 0.2em rgb(255, 238, 0),
    0 0 0.2em rgb(0, 0, 0);
}

#player1Name {
  margin-top: 7vh;
  background: radial-gradient(yellow, transparent);
  border: 0.3em groove rgb(255, 251, 0);
  font-size: large;
  height: 10vh;
  border-radius: 5em;
  text-align: center;
}

#botTrim {
  height: 15vh;
  text-align: center;
  background: linear-gradient(transparent, yellow);
  height: 15vh;
}

#topTrim {
  background: linear-gradient(cyan, transparent);
  height: 15vh;
}
